header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #947157;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 5px #e5e7eb;
    height: 35px;
}