header nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
}

header nav ul {
    width: 35%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 6%;
}

header li, #link{
    box-sizing: border-box;
    padding: 1% 2%;
    background-color: white;
    color: black;
    vertical-align: center;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}


header p {
    margin-left: 8%;
    width: 20%;
    font-size: 21px;
    color: rgb(49, 45, 45);
    font-family: 'Tilt Warp', cursive;
}

    