
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #947157;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    height: 25px;
}

footer p {
    width: 30%;
    padding-left: 5%;
    font-size: 15px;
    font-family: 'Tilt Warp', cursive;
}

footer div {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: end;
    gap: 5%;
    padding-right: 10%;
}

footer div a {
    color: black;
    text-decoration: none;
}